<h2>Abilities</h2>

<p>Abilities represent training or a natural trait. Unlike skills, abilities do not have levels and so a character either has an ability or not.</p>

<h2>Abilities List</h2>

<% ApplicationHelper::Ability.all.each do |ability| %>
	<div class="well ability" style=<%= "background-color:#{ability.synergy ? ability.synergy.colour : '#ddd'}" %>>
		<div class="row">
			<div class="offset2 span5 center">
				<%= "<h3>#{ability.name}</h3>".html_safe %>
				<%= "Requires: #{ability.requires}<br/> ".html_safe if ability.requires %>
			</div>
		</div>

		<%= ability.full_text.html_safe %>

		<div class="row">
			<div class="span5 offset2 center">
					<%= link_to "Add Ability to: #{session[:character].name}", character_path(session[:character], add_ability: ability.name),
					method: :put, class:"btn btn-mini btn-primary" if !session[:character].nil? %>
			</div>
			<span style="float:right"><%= "Synergy: #{ability.synergy.name}" if ability.synergy %></span>
		</div>
	</div>
<% end %>
