<h2>Abilities</h2>

<p>Abilities are miscellaneous strengths that a character is trained in or naturally possesses. Unlike skills, abilities do not have a level and so a character either possesses an ability or not.</p>

<p>Characters use their synergy bonuses to purchase abilities. Purchasing abilities does not reduce the bonus to skills that synergies supply. Abilities are either tied to a synergy or are classless. Classless abilities cost two synergy points. Abilities with a synergy class cost two synergy points of that class or three of any other classes. Every characcter gets one skill for free that may be of any class.</p>

<h2>Abilities List</h2>

<% ApplicationHelper::Ability.all.each do |ability| %>
	<div class="well ability" style=<%= "background-color:#{ability.synergy ? ability.synergy.colour : '#ddd'}" %>>
		<div class="row">
			<div class="offset2 span5 center">
				<%= "<h3>#{ability.name}</h3>".html_safe %>
				<%= "Requires: #{ability.requires}<br/> ".html_safe if ability.requires %>
			</div>
		</div>

		<%= ability.full_text.html_safe %>

		<div class="row">
			<div class="span5 offset2 center">
					<%= link_to "Add Ability to: #{active_character.name}", character_path(active_character, add_ability: ability.name),
					method: :put, class:"btn btn-mini btn-primary" if current_user_owns? active_character %>
			</div>
			<span style="float:right"><%= "Synergy: #{ability.synergy.name}" if ability.synergy %></span>
		</div>
	</div>
<% end %>
