<h2>Stats and Skill Checks</h2>
<p>Characters in the Wolf System have four Stats: <%= strength %>, <%= dexterity %>, <%= intelligence %> and <%= faith %>. Each stat is one dice type of the following: d4, d6, d8, d10 or d12 which determines what type of dice will be rolled when performing a skill check.</p>
<p>Skill checks are performed by rolling a number of dice determined by the level of the skill of type determined by an associated Stat. The <em>Power</em> of a skill check is the number of dice rolled that are 4 or higher.</p>
<p>The notation <%= check('Skill','stat') %> is used to mean a skill check with the skill for the given stat.</p>
<p>Skill checks can have bonuses and penalties which add or remove dice from the roll. Skill checks can also have bonuses to dice type. For example: if a charcter would normally roll d8s but have their die type increased by one they will instead roll d10s. If a roll has a die type less d4s then they still roll d4s but have a penalty of 2 for each die type. If a roll has a die type greater than d12s then they still roll d12s but have a bonus of 2 for each die type. For example if someone has a roll of <em>6d4</em> but has their die type reduced by 2 they would instead roll <em>2d4</em>.</p>
<p>The base <%= hp 'max' %> of a character is equal to their <%= strength %> plus their <%= dexterity %>. The base <%= mp 'max' %> of a character is equal to their <%= intelligence %> plus their <%= faith %>.</p>
<p>Below is a table detailing the type of result given the power of a skill check. When a skill check refers to the result level it is referring to the level column below. Similarly the columns below show result distances and result weights.</p>

<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr><th>Value</th><th>Level</th><th>Result</th><th>Distance (m)</th><th>Weight (kg)</th></tr>
	</thead>
	<tbody>
		<tr><td>0</td>		<td>0</td>	<td>Critical Failure</td>		<td>0</td>	<td>0</td></tr>
		<tr><td>1-2</td>	<td>1</td>	<td>Failure</td>				<td>2</td>	<td>10</td></tr>
		<tr><td>3-5</td>	<td>2</td>	<td>Basic Pass</td>				<td>4</td>	<td>20</td></tr>
		<tr><td>6-10</td>	<td>3</td>	<td>Pass</td>					<td>6</td>	<td>30</td></tr>
		<tr><td>11-17</td>	<td>4</td>	<td>Skillful Pass</td>			<td>8</td>	<td>40</td></tr>
		<tr><td>18-26</td>	<td>5</td>	<td>Prodigious Pass</td>		<td>10</td>	<td>50</td></tr>
		<tr><td>27-37</td>	<td>6</td>	<td>Epic Pass</td>				<td>12</td>	<td>60</td></tr>
		<tr><td>38+</td>	<td>7</td>	<td>Godlike Pass</td>			<td>14</td>	<td>70</td></tr>
	</tbody>
</table>

<h3>Observing, Sensing and Noticing</h3>

<p>There are two skills that characters use to notice something that occurs around them: <%= skill 'Observation' %> and <%= skill 'Sense' %>. <%= skill 'Observation' %> is used to notice anything visual or aural and <%= skill 'Sense' %> is used to notice anything else. Characters can be asked to notice something or to perform <%= check('Notice', '') %>. If so they may make <%= check('Observation','Int')%> or <%= check('Sense','Fai') %>. Note that what they notice depends on which skill they use.</p>

<h2>Turns</h2>

<p>When necessary, such as during combat, characters actions can be broken up into turns. Each turn last 10 seconds and may perform each of the following in any order during their turn.</p>

<dl>
	<dt>Major Action</dt>
	<dd>A character may perform any <%= major_action %> or instead perform an additional <%= minor_action %> or <%= move_action %>.
	<dt>Move Action</dt>
	<dd>A character may move up to their maximum movement as determined by their <%= skill 'Sprint' %> skill. This may be split in any way during a characters turn. A character may sacrifice a <%= move_action %> for a <%= minor_action %></dd>
	<dt>Minor Action</dt>
	<dd>A character may perform any <%= minor_action %>. They may save this to use any time until their next turn.
</dl>

<p>At the end of their turn the character will Regerate their <%= hp %> and Refresh their <%= mp %> depending on their rates.</p>

<h2>Speed and Rates</h2>

<p>Speed refers to how fast or slow something is moving relative to normal. A speed of 0 means something is moving at normal speed. A speed of <em>+S</em> means something is moving at <em>1+S</em> times normal speed. For example a character with speed 3 is moving at four times normal speed. A negative speed means something is moving at lower than normal speed. For each point below zero a character's movement halves. For example a character with speed -3 is moving at one eighth normal speed.</p>

<table class="table table-bordered table-condensed">
	<col/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<col width="9%"/>
	<tbody>
		<tr><td class='bold'>Speed</td><td>-4</td><td>-3</td><td>-2</td><td>-1</td><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td></tr>
		<tr><td class='bold'>Factor</td><td><sup>1</sup>/<sub>16</sub><td><sup>1</sup>/<sub>8</sub></td><td><sup>1</sup>/<sub>4</sub></td><td><sup>1</sup>/<sub>2</sub></td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>
	</tbody>
</table>

<p>Each point of speed gained will give one additional <%= major_action %> per turn. Each point of speed lost will halve how often a character gets a <%= major_action %>. No matter what speed a character is at they will get one <%= minor_action %> each turn.</p>

<h3>Regeneration and Refreshing</h3>

<p>Character naturally increase their <%= hp %> and <%= mp %> up to their maximum values by using the skills <%= skill 'Regenerate' %> and <%= skill 'Refresh' %>. These skills have a rate that should be interpreted in the same fashion as speed. For example a character with a regeneration rate of 0 will gain <%= hp(1) %> at the end of each turn.</p>
<p>If a character's speed is altered then they add their speed to their regeneration and refresh rates. For example: if a character has speed 2 and a refresh rate of -1 then they will gain <%= mp(2) %> at the end of each turn.</p>

<h2>Magical Resistance</h2>

<p>Characters with magical resistance have a natural immunity to spells. A character with magical resitance of <em>N</em> will subtract <em>N</em> from the power of any spell that affects them. If the spell affects multiple characters then this reduction only affects the character with resistance. This applies to all spells, not just adverse ones.</p>

<h2 id="Stun">Stunned</h2>

<p>A character who is stunned does not have a <%= major_action %> for each turn they are stunned. However they still receive a <%= minor_action %> and can still move although at a quarter the pace. If a character is stunned from multiple sources they are stunned for the maxmimum of each of the sources. For example if someone was stunned last turn for five turns and stunned again this turn for three turns they are stunned for <em>Max(5-1,3) = 4</em> turns.</p>

<p>A character who is moving at faster than normal speed recovers faster from being stunned. For example: a character at speed <em>+2</em> who is stunned for 5 turns has no <%= major_action%>s in their first turn but recovers to have a single <%= major_action %> in their second. A character at slower than normal speed recovers at the same rate as a character at normal speed.</p>

<h2>Ethereal</h2>

<p>A character who is ethereal has lost substantive physical form. An ethereal character may pass through walls however this does take physical effort. An ethereal character gains Damage Reduction of 2 for physical sources. Any spell targeting an ethereal character gains a bonus of +2.</p>

<h2>Prone</h2>

<p>Any character who falls over during their turn immediately ends their turn. A character may use their <%= move_action %> or a <%= major_action %> to stand up in which case they can move after standing up. No physical attacks or physical defensive skills may be used while Prone although bonuses from other sources, such as armour, still apply. A prone character gets <%= damage_reduction '+2'%> to ranged attacks. A character may drop prone by using a <%= minor_action %>. A character may freely <%= skill 'Blink' %> to and from a prone position.</p>

<h2>Falling</h2>

<p> A character may fall relative to the result power of a <%= check('Sprint','dex') %>. A Critical Fail means they cannot fall any distance without taking damage and each result level beyond this increases the distance a character can move safely by one metre. Any character who falls more than the safe distance suffers fall damage at <%= hp 2 %> per metre. Any character losing at least <%= hp 6 %> is also prone.</p>

<p>Armour can reduce the safe fall distance. Each point of <%= dexterity %> decrease also decreases the safe fall distance by one.</p>

<h2>Altered Size</h2>

<p>A character of altered size has their body increased or reduced in size. Every two levels of size change is equivalent to a linear scaling of two and so every level is around 1.5 times in size. For example a charcter that has 6 levels of reduced size will be an eighth the height.</p>	

<p>For every level of increased size decreases <%= dexterity %> die type by one and increases <%= strength %> die type by one. Each level of decreased size increases <%= dexterity %> die type by one and <%= strength %> type by one.</p>

<h2>Environmental Light</h2>

<p>Typical environments will have a light rating. The environmental light is then affected by divine sources to produce a resultant rating. If the rating is positive then anyone facing the source choosing an action that requires sight suffers a penalty equal to that of the light source. If darkness prevails then everyone within the power of the dark source is penalised by the power for any action that requires sight.</p>
<p>Normal light has a rating of 0, bright sunshine is +1 with the sun as the source, and nighttime with a full moon would have a rating of −1.</p>

<h2>Debating</h2>

<p>A character can start a debate with another character if they have an ability to let them do so. The responding character may defend with a debating ability or with <%= skill 'Observation' %>. Both characters roll checks for their abilities or if they defended with <%= skill 'Observation' %> they make a <%= check('Observation-3','int') %>.</p>
<p>A defending character who loses a debate is not necessarily convinced but if they chose an action that runs against the result of the debate they have a penalty to that action equal to how much they lost the debate by.</p>
<p>Characters debates should be role-played to a degree and bonuses and penalties should apply depending on what is being argued.</p>