<h2>Wolves</h2>

<p>To pick starting stats for a wolf the following table is used. A player first picks a row and then assigns the die types to each of the four stats in whichever order they wish.</p>

<div class="row">
	<div class="span3">
		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr><td>d12</td><td>d4</td><td>d4</td><td>d4</td></tr>
				<tr><td>d10</td><td>d10</td><td>d4</td><td>d4</td></tr>
				<tr><td>d10</td><td>d8</td><td>d6</td><td>d4</td></tr>
				<tr><td>d8</td><td>d8</td><td>d8</td><td>d6</td></tr>
			</tbody>
		</table>
	</div>
</div>

<p>Any silvered weapons cause Deep Wounds to wolves. Wolves can reduce any penalty due to darkness by one. Wolves gain <em>+2</em> to <%= skill 'Sense' %>.</p>

<h3>Lycanthropic Morphing</h3>

<p>Werewolves can be in one of three forms: Human, Warg or Wolf. Morphing between Human and Warg form requires a <%= minor_action %> as does morphing between Warg and Wolf form. To morph directly between Human and Wolf form requires a <%= major_action %> or alternatively two <%= minor_action %>s.</p>

<h4>Human Form</h4>

<p>In Human form weapons can be wielded and all armour and clothing can be worn. While in Human Form <%= str %> is reduced by one die type. All languages can be spoken and understood.</p>

<h4>Warg Form</h4>

<p>In warg form no weapons can be carried nor armour worn. Totems carried in Human Form have their effect. Loose fitting clothes are still worn. All skills are at their nominal levels. Any skill performed that requires holding or grasping objects has its level reduced by half. Wolf-tongue can be spoken but Common and Divine cannot. All languages can be correctly heard.</p>

<h4>Wolf Form</h4>

In Wolf form the level of the skill <%= skill 'Sprint' %> is doubled but all magic skills are halved. While in Wolf Form <%= str %> is reduced by one die type. Any task that requires holding or grasping objects cannot be performed. Clothes are no longer worn. Totem’s carried in Human Form have their effect but have a penalty of one die type. Wolf-tongue is the only language that can be spoken or understood.

<h4>Bear Form</h4>

<p>In Bear Form no weapons can be carried nor armour worn. Totems carried in Human Form have their effect. Loose fitting clothes are still worn. While in Bear Form <%= str %> is increased by one die type. Wolf-tongue can be spoken but Common and Divine cannot. All languages can be correctly heard.</p>
<p>Only Urgan Elite can transform into bear form.</p>

<h2>Goblins</h2>

<p>Goblin stats are chosen in the same way that Wolf stats are but using the following table.</p>

<div class="row">
	<div class="span3">
		<table class="table table-striped table-bordered table-condensed">
			<tbody>
				<tr><td>d8</td><td>d6</td><td>d4</td><td>d4</td></tr>
				<tr><td>d6</td><td>d6</td><td>d6</td><td>d4</td></tr>
			</tbody>
		</table>
	</div>
</div>

<p>For every three points of damage dealt to a Goblin in a single blow, one is considered a Deep Wound. Goblins receive Synergy Class bonuses at a rate of one for every six levels gained.</p>

<h2>Dwarves</h2>

<p>Dwarf stats are chosen in the same way as Wolf stats are chosen. For every four points of damage dealt to a Dwarf in a single blow, one is considered a Deep Wound.</p>

<h2>Vampires</h2>

<p>Vampires have <%= str %>, <%= dex %> and <%= int %> of d12 and <%= fai %> of 4. Poison damage only does regular wounds to Vampires. However fire damage deal Deep Wounds. Vampires reduce any penalty to darkness by two but penalties due to light, if any, are increased by one. Vampires must have the abilities <%= skill 'Atheist' %> and <%= skill 'Literate' %>.</p>