<h2>Skills</h2>

<p>Skills are a measure of what a character can do. Levels of a skill are purchased by paying the skill cost in <span class="label">XP</span> for each level purchased. Most skills require other skills. A skill must have fewer levels than any skill it requires.</p>

<h3>Properties</h3>

<p>Skills can have several properties such as listed below.</p>

<table class="table table-striped table-bordered table-condensed">
	<col width="75px"/>
	<thead>
		<tr><th>Property</th><th>Meaning</th></tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center;"><img src="/assets/attack.png" alt="Atack"/></td>
			<td>This skill is an attack skill. They may use a <%= major_action %> to attack a character.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/defend.png" alt="Defend"/></td>
			<td>This skill is an defensive skill. They may use a <%= minor_action %>, for every defense beyond the first, to defend against an attack.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/invertible.png" alt="Invert"/></td>
			<td>This skill is invertible. It has two potential effects which produce opposite results.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/dividible.png" alt="Divide"/></td>
			<td>This skill is dividible. Its power may be halved, potentially multiple times, to somehow increase its effectiveness.</td>
		</tr>
		<tr><td style="text-align:center;"><img src="/assets/str.png" alt="Str"/></td><td>This skill uses Strength as its stat.</td></tr>
		<tr><td style="text-align:center;"><img src="/assets/dex.png" alt="Dex"/></td><td>This skill uses Dexterity as its stat.</td></tr>
		<tr><td style="text-align:center;"><img src="/assets/int.png" alt="Int"/></td><td>This skill uses Intelligence as its stat.</td></tr>
		<tr><td style="text-align:center;"><img src="/assets/fai.png" alt="Fai"/></td><td>This skill uses Faith as its stat.</td></tr>
	</tbody>
</table>

<h3>Spells</h3>

<p>Any skill that has a god icon next to it is a spell. Spells use the power of that god to create its effects. Below is a list of the icons and the corresponding gods.</p>

<table class="table table-striped table-bordered table-condensed">
	<col width="75px"/>
	<thead>
		<tr><th>God Icon</th><th>Associated God</th></tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center;"><img src="/assets/arthur.png" alt="Arthur"/></td>
			<td>Arthur: God of War and Peace.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/innodi.png" alt="Inoddi"/></td>
			<td>Innodi: God of Life and Death.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/irdken.png" alt="Ird'ken"/></td>
			<td>Ird'ken: Got of Chaos and Order.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/oxdoro.png" alt="Oxdoro"/></td>
			<td>Oxdoro: God of Time and Space.</td>
		</tr>
		<tr>
			<td style="text-align:center;"><img src="/assets/loreanna.png" alt="Loreanna"/></td>
			<td>Loreanna: God of Skill, Chance and Luck.</td>
		</tr>
	</tbody>
</table>


<h2>Skill List</h2>

<p>
	Show:&nbsp;
	<select id="skill-filter">
		<option>All</option>
		<option>Warrior</option>
		<option>Rogue</option>
		<option>Channeller</option>
		<option>Mechanist</option>
		<option>Trickster</option>
		<option>Battle Mage</option>
		<option>Necromancer</option>
		<option>Lore</option>
		<option>None</option>
	</select>
</p>

<% Skill.every.sort_by { |skill| skill.name }.each do |skill| %>
	<%= content_tag :div, class: skill.synergy_css('skill-') do %>
		<div class="row">
			<div class="span2">
				<%= tag(:img, src:'assets/attack.png', alt:'Attack') if skill.attack? %>
				<%= tag(:img, src:'assets/defend.png', alt:'Defend') if skill.defend? %>
				<%= tag(:img, src:'assets/invertible.png', alt:'Invertible') if skill.invertible? %>
				<%= tag(:img, src:'assets/dividible.png', alt:'Dividible') if skill.dividible? %>
				<%= tag(:img, src:'assets/str.png', alt:'Strength') if skill.stat == 'Str' %>
				<%= tag(:img, src:'assets/dex.png', alt:'Dexterity') if skill.stat == 'Dex' %>
				<%= tag(:img, src:'assets/int.png', alt:'Intelligence') if skill.stat == 'Int' %>
				<%= tag(:img, src:'assets/fai.png', alt:'Faith') if skill.stat == 'Fai' %>
				<br/>
			</div>
			<div class="span5 center">
				<h3><%= skill.full_name %></h3>
				<%= content_tag(:p, "Requires: #{skill skill.required_skill}".html_safe) if skill.required_skill %>
			</div>
			<div class="" style="float:right">
				<%= tag(:img, src:'assets/arthur.png', alt:'Arthur') if skill.spell == 'Arthur' %>
				<%= tag(:img, src:'assets/innodi.png', alt:'Innodi') if skill.spell == 'Innodi' %>
				<%= tag(:img, src:'assets/irdken.png', alt:"Ird'ken" ) if skill.spell == "Ird'ken" %>
				<%= tag(:img, src:'assets/oxdoro.png', alt:'Oxdoro') if skill.spell == 'Oxdoro' %>
				<%= tag(:img, src:'assets/loreanna.png', alt:'Loreanna') if skill.spell == 'Loreanna' %>
				<%= tag(:img, src:'assets/travaer.png', alt:'Travaer') if skill.spell == 'Travaer' %>
			</div>
		</div>

		<%= parse_text_xml(skill.text).html_safe %>

		<div class="row">
			<div class="span2">
				<span style="float:left">Cost: <span class="badge badge-inverse"><%= skill.cost %></span></span>
			</div>
			<div class="span5 center">
				<% if signed_in? and not current_user.characters.empty? %>
					<div class='btn-group' style='display:inline-block;'>
						<a class='btn btn-small btn-primary span2 dropdown-toggle' data-toggle='dropdown' href='#'>
							Add Skill to: &nbsp;<span class='caret'/>
						</a>
						<ul class='dropdown-menu'>
							<% current_user.characters.each do |character| %>
								<li><%= link_to character.name, skills_character_path(character, skill.name_tag('add') => 'skill to add'), method: :put %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<div class='right'>
				<%= "Synergy: #{skill.synergy_name}" if skill.has_synergy? %>
			</div>
		</div>
	<% end %>
<% end %>
