<% provide(:title, 'Setting') %>

<div class="center hero-unit">
	<h1>Wolf: Setting</h1>
	<h2>
		The setting and universe of the Wolf Role Playing System.
	</h2>
</div>

<% if false %>
<!-- <div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab-core" data-toggle="tab">Core Rules</a></li>
		<li><a href="#tab-combat" data-toggle="tab">Combat Rules</a></li>
		<li><a href="#tab-races" data-toggle="tab">Races</a></li>
		<li><a href="#tab-skills" data-toggle="tab">Skills</a></li>
		<li><a href="#tab-skill-trees" data-toggle="tab">Skill Trees</a></li>
		<li><a href="#tab-synergy" data-toggle="tab">Synergy Classes</a></li>
		<li><a href="#tab-abilities" data-toggle="tab">Abilities</a></li>
		<li><a href="#tab-items" data-toggle="tab">Items</a></li>
		<li><a href="#tab-monsters" data-toggle="tab">Monsters</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab-core"> <%= render 'static_pages/core' %> </div>
		<div class="tab-pane" id="tab-combat"> <%= render 'static_pages/combat' %> </div>
		<div class="tab-pane" id="tab-races"> <%= render 'static_pages/races' %> </div>
		<div class="tab-pane" id="tab-skills"> <%= render 'static_pages/skills' %> </div>
		<div class="tab-pane" id="tab-skill-trees"> <%= render 'static_pages/skill_trees' %> </div>
		<div class="tab-pane" id="tab-synergy"> <%= render 'static_pages/synergies' %> </div>
		<div class="tab-pane" id="tab-abilities"> <%= render 'static_pages/abilities' %> </div>
		<div class="tab-pane" id="tab-items"> <%= render 'static_pages/items' %> </div>
		<div class="tab-pane" id="tab-monsters"> <%= render 'static_pages/monsters' %> </div>
		</div>
	</div>
</div> -->

<% end %>