<div id="passwordModal" class="modal hide fade" style="display: none;">
	<%= form_for(@user, url: {action: :password}) do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Change Password</h3>
		</div>
		<div class="modal-body">

			<%= f.label :new_password, 'New Password' %>
			<%= f.password_field :new_password %>

			<%= f.label :new_password_confirmation, 'Confirm New Password' %>
			<%= f.password_field :new_password_confirmation %>

			<%= f.label :old_password, 'Old Password' %>
			<%= f.password_field :old_password %>


		</div>
		<div class="modal-footer">
			<a href='#' class="btn" data-dismiss="modal">Cancel</a>
			<%= f.submit "Update", class: "btn btn-small btn-primary" %>
		</div>
	<% end %>
</div>
