<% provide(:title, 'Profiles') %>

<div class="hero-unit">
	<h1>User List</h1>
</div>

<table class='table table-bordered vcenter'>
	<col width='5%'/>
	<col/>
	<col width='20%'/>
	<col width='20%'/>
	<thead>
		<tr>
			<th/>
			<th>Name</th>
			<th>Campaigns</th>
			<th>Characters</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, index| %>
			<tr>
				<td><%= index+1 %></td>
				<td><%= link_to user.handle, user %></td>
				<td><%= user.campaigns.size %></td>
				<td><%= user.characters.size %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= will_paginate %>
