<% provide(:title, 'Profiles') %>

<div class="hero-unit">
	<h1>User List</h1>
</div>

<%= will_paginate %>

<table class='table table-bordered vcenter'>
	<col width='5%'/>
	<thead>
		<tr>
			<th/>
			<th>Name</th>
			<th>Campaigns</th>
			<th>Characters</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each_with_index do |user, index| %>
			<% characters = @characters[user.id] %>
			<% campaigns = @campaigns[user.id] %>
			<% rowspan = characters.count > campaigns.count ? characters.count : campaigns.count %>
			<tr>
				<%= content_tag :td, index+1, rowspan: rowspan  %>
				<%= content_tag :td, link_to(user.handle, user), rowspan: rowspan %>

				<% (0..rowspan-1).each do |index| %>
			<%= tag(:tr, nil, true) unless index.zero? %>
				<td><%= link_to(characters[index].name, characters[index]) if characters.count > index %></td>
				<td><%= link_to(campaigns[index].name, campaigns[index]) if campaigns.count > index %></td>
			</tr>
				<% end %>
				<%= '<td/><td/></tr>'.html_safe if rowspan.zero? %>
		<% end %>
	</tbody>
</table>

<%= will_paginate %>
