<%= content_tag :div, class: skill.synergy_css('skill-') do %>
	<div class='row'>
		<div class='span2'>
			<%= tag(:img, src:'/assets/attack.png', alt:'Attack') if skill.attack? %>
			<%= tag(:img, src:'/assets/defend.png', alt:'Defend') if skill.defend? %>
			<%= tag(:img, src:'/assets/invertible.png', alt:'Invertible') if skill.invertible? %>
			<%= tag(:img, src:'/assets/divisible.png', alt:'Divisible') if skill.divisible? %>
			<%= tag(:img, src:'/assets/str.png', alt:'Strength') if skill.stat == 'Str' %>
			<%= tag(:img, src:'/assets/dex.png', alt:'Dexterity') if skill.stat == 'Dex' %>
			<%= tag(:img, src:'/assets/int.png', alt:'Intelligence') if skill.stat == 'Int' %>
			<%= tag(:img, src:'/assets/fai.png', alt:'Faith') if skill.stat == 'Fai' %>
			<br/>
		</div>
		<div class='span5 center'>
			<h3><%= skill.full_name %></h3>
			<%= content_tag(:p, "Requires: #{skill skill.required_skill}".html_safe) if skill.required_skill %>
		</div>
		<div class="" style="float:right">
			<%= tag(:img, src:'/assets/arthur.png', alt:'Arthur') if skill.spell == 'Arthur' %>
			<%= tag(:img, src:'/assets/innodi.png', alt:'Innodi') if skill.spell == 'Innodi' %>
			<%= tag(:img, src:'/assets/irdken.png', alt:"Ird'ken" ) if skill.spell == "Ird'ken" %>
			<%= tag(:img, src:'/assets/oxdoro.png', alt:'Oxdoro') if skill.spell == 'Oxdoro' %>
			<%= tag(:img, src:'/assets/loreanna.png', alt:'Loreanna') if skill.spell == 'Loreanna' %>
			<%= tag(:img, src:'/assets/travaer.png', alt:'Travaer') if skill.spell == 'Travaer' %>
		</div>
	</div>

	<%= parse_text_xml(skill.text).html_safe %>

	<div class="row">
		<div class="span2">
			<span style="float:left">Cost: <span class="badge badge-inverse"><%= skill.cost %></span></span>
		</div>
		<div class="span5 center">
			<% if signed_in? and not current_user.characters.empty? %>
				<div class='btn-group' style='display:inline-block;'>
					<a class='btn btn-small btn-primary span2 dropdown-toggle' data-toggle='dropdown' href='#'>
						Add Skill to: &nbsp;<span class='caret'/>
					</a>
					<ul class='dropdown-menu'>
						<% current_user.characters.each do |character| %>
							<li><%= link_to character.name, skills_character_path(character, skill.name_tag('add') => 'skill to add'), method: :put %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
		<div class='right'>
			<%= "Synergy: #{skill.synergy_name}" if skill.has_synergy? %>
		</div>
	</div>
<% end %>