<div id="addModal" class="modal hide fade" style="display: none;">
	<%= form_for(@character, url: { action: "update", add_skills: true }) do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Add Skills</h3>
			Show:&nbsp;
			<%= select_tag(:skill_filter, options_for_select(ApplicationHelper::Synergy.names), class: "span2") %>
		</div>
		<div class="modal-body">

			<div class="row">
				<div class="span2">

					<% skills = @character.can_add_skills %>
					<% skills.each_with_index do |skill, index| %>
						<p class=<%= skill.synergy_css('add-') %>>
							<%= check_box_tag(skill.name, "skill to add", false,
								onChange: skill.check_required_inv, id: "add_#{skill.name}".gsub(" ","_")) %>
							<%= skill.name %>
						</p>

						<% if skills.count >= 3 && (index+1).modulo(skills.count/3).zero? %>
				</div>
				<div class="span2">
						<% end %>
					<% end %>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<a href='#' class="btn" data-dismiss="modal">Cancel</a>
			<%= f.submit "Save Changes", class: "btn btn-small btn-primary" %>
		</div>
	<% end %>
</div>
