<div id="nameModal" class="modal hide fade" style="display: none;">
	<%= form_for @character do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Change Character Details</h3>
		</div>
		<div class="modal-body">

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :race %>
			<%= f.select(:race, %w[Wolf Dwarf Goblin Vampire], selected: @character.race) %>

			<%= f.label :visibility %>
			<%= f.select(:visibility, [['Public', 'public'], ['Private', 'private']], selected: @character.visibility) %>

		</div>
		<div class="modal-footer">
			<a href='#' class="btn" data-dismiss="modal">Cancel</a>
			<%= f.submit "Save Changes", class: "btn btn-small btn-primary" %>
		</div>
	<% end %>
</div>
