<div id="removeAbilityModal" class="modal hide fade" style="display: none;">
	<%= form_for(@character, url: { action: "update", remove_abilities: true }) do |f| %>
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Remove Abilities</h3>
		</div>
		<div class="modal-body">

			<div class="row">
				<div class="span2">

					<% @character.abilities.each_with_index do |ability_name, index| %>

						<p>
							<% ability = ApplicationHelper::Ability.find_by_name(ability_name) %>
							<%= check_box_tag(ability.name, "ability to remove", false, id: "remove_#{ability.name}".sub(" ", "_")) %>
							<span class=<%= ability.synergy_css('name-') %>>
								<%= ability.name %>
							</span>
						</p>

						<% if @character.abilities.count >= 3 && (index+1).modulo(@character.abilities.count/3).zero? %>
				</div>
				<div class="span2">
						<% end %>
					<% end %>
				</div>
			</div>

		</div>
		<div class="modal-footer">
			<a href='#' class="btn" data-dismiss="modal">Cancel</a>
			<%= f.hidden_field(:remove_abilities, value: true, name: 'remove_abilities') %>
			<%= f.submit "Save Changes", class: "btn btn-small btn-primary" %>
		</div>
	<% end %>
</div>
