<% provide(:title, "Characters") %>

<div class="hero-unit">
	<h1>Character List</h1>
	<div class='center'>
		<%= link_to "Create Character", new_character_path, class: "btn btn-large btn-primary" if signed_in? %>
	</div>
</div>

<% if signed_in? %>
	<% unless @owned_characters.empty? %>
		<h1 class="span10">Your Characters</h1>
		<%= render @owned_characters %>
	<% end %>

	<% unless @campaign_characters.empty? %>
		<h1 class="span10">Campaign Characters</h1>

		<% @campaign_characters.each do |campaign_id, characters| %>
			<% campaign = Campaign.find campaign_id %>
			<%= content_tag(:h2, link_to(campaign.name, campaign), class: 'span10') %>

			<%= render characters %>

		<% end %>
	<% end %>
<% end %>

<% unless @other_characters.empty? %>
	<h1 class="span10">Public Characters</h1>

	<%= render @other_characters %>
<% end %>
