<% provide(:title, "New Character") %>

<%= render 'characters/import_modal' %>

<h1>Create a New Character</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@character) do |f| %>
			<%= render 'shared/error_messages' %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :race %>
			<%= f.select(:race, %w[Wolf Dwarf Goblin Vampire]) %>

			<%= f.label :campaign_id, "Campaign" %>
			<%= f.select(:campaign_id, current_user.campaign_select) %>

			<div>
				<%= f.submit "Create Character", class: "btn btn-large btn-primary" %>
				<a class="btn btn-large btn-primary right" data-toggle="modal" href='#importModal'>Import Character</a>
			</div>

		<% end %>
	</div>
</div>