<% provide(:title, @character.name) %>

<script type="text/javascript">
	skill_costs = {
		<% @character.skills.each do |skill| %>
			<%= "'#{skill.name}': #{skill.cost},".html_safe %>
		<% end %>
	};
	skill_requires = {
		<% Skill.raw_data.each do |skill_name, skill_data| %>
			<%= "\"#{skill_name}\": \"#{skill_data[:required_skill]}\",".html_safe if skill_data[:required_skill] %>
		<% end %>
	};
</script>

<% unless current_user_owns? @character %>
	<style type='text/css' media='all'>
		.modify { display: none; }
	</style>
<% end %>

<!-- Custom Forms !-->
<% if signed_in? and current_user_owns? @character %>
	<%= render 'characters/name_modal' %>
	<%= render 'characters/stats_modal' %>
	<%= render 'characters/item_modal' %>
	<%= render 'characters/remove_modal' %>
	<%= render 'characters/remove_ability_modal' %>
	<%= render 'characters/add_modal' %>
	<%= render 'characters/add_ability_modal' %>
<% end %>

<!-- Error and Warning Messages -->
<%= render 'shared/error_messages' %>

<div class="row">

	<!-- ########### Character Display ########### !-->

	<div class="span7">
		<div class="well center span5">
			<h1><%= @character.name %></h1>
			<% unless current_user_owns? @character %>
				<h2>Player: <%= link_to User.find(@character.user_id).handle, user_path(@character.user_id) %></h2>
			<% end %>
			<% if @character.in_campaign? %>
				<h2>Campaign: <%= link_to @character.campaign.name, @character.campaign %></h2>
			<% end %>
			<h2>Race: <%= @character.race %></h2>
			<% unless @character.public? %>
				<h3 class='dont-print'>Privacy: <%= @character.privacy.to_s.capitalize %></h3>
			<% end %>
			<p/>
			<div class="center">
				<a class="btn btn-small btn-primary disable-button dont-print modify" data-toggle="modal" href='#nameModal'><%= modify %></a>
				<%= link_to export, export_character_path(@character), class: "btn btn-small btn-primary dont-print" %>
				<%= link_to delete, @character, class: "btn btn-small btn-danger dont-print modify", confirm: "Are you sure you want to delete '#{@character.name}'?", method: :delete %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<table class='table table-striped table-bordered table-condensed item-table'>
					<tbody>
						<tr><td>XP</td><td id="xp"><%= @character.xp %></td></tr>
						<tr class="hp"><td>HP Max</td><td><%= @character.hp_max %></td></tr>
						<tr class="hp"><td>HP Rate</td><td><%= rate @character.hp_rate %></td></tr>
						<tr class="mp"><td>MP Max</td><td><%= @character.mp_max %></td></tr>
						<tr class="mp"><td>MP Rate</td><td><%= rate @character.mp_rate %></td></tr>
					</tbody>
				</table>
			</div>
			<div class="span3">
				<table class='table table-striped table-bordered table-condensed item-table'>
					<tbody>
						<tr><td>Damage Reduction</td><td><%= @character.damage_reduction %></td></tr>
						<tr><td>Weapon Bonus</td><td>+<%= @character.weapon_bonus %></td></tr>
						<tr class="hp"><td>Regen Time</td><td><%= @character.hp_time %></td></tr>
						<tr class="mp"><td>Refresh Time</td><td><%= @character.mp_time %></td></tr>
						<tr><td>Spell XP</td><td><%= @character.xp :spell %></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="span5">

<!-- ########### Stat Table ########### !-->

		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table item-table'>
				<col class="stat-name"/>
				<col class="stat-elem"/>
				<col class="stat-elem"/>
				<col class="stat-elem"/>
				<thead>
					<tr>
						<th>
							<div class="modify">
								<% if @character.race != "Vampire" %>
									<a class="btn btn-mini btn-primary disable-button dont-print" data-toggle="modal" href='#statsModal'><%= modify %></a>
								<% end %>
							</div>
						</th>
						<th>Base</th><th>Mod</th><th>Final</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Strength<img src="/assets/str.png" class="small-right"/></td>
						<td><%= @character.str %></td>
						<td><%= @character.str_mod < 0 ? @character.str_mod : "+#{@character.str_mod}" %></td>
						<td><%= @character.str_final %></td>
					</tr>
					<tr>
						<td>Dexterity<img src="/assets/dex.png" class="small-right"/></td>
						<td><%= @character.dex %></td>
						<td><%= @character.dex_mod < 0 ? @character.dex_mod : "+#{@character.dex_mod}" %></td>
						<td><%= @character.dex_final %></td>
					</tr>
					<tr>
						<td>Intelligence<img src="/assets/int.png" class="small-right"/></td>
						<td><%= @character.int %></td>
						<td><%= @character.int_mod < 0 ? @character.int_mod : "+#{@character.int_mod}" %></td>
						<td><%= @character.int_final %></td>
					</tr>
					<tr>
						<td>Faith<img src="/assets/fai.png" class="small-right"/></td>
						<td><%= @character.fai %></td>
						<td><%= @character.fai_mod < 0 ? @character.fai_mod : "+#{@character.fai_mod}" %></td>
						<td><%= @character.fai_final %></td>
					</tr>
				</tbody>
			</table>
		</div>

<!-- ########### Synergy Table ########### !-->

		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table item-table'>
				<col class="stat-name">
				<col class="stat-elem">
				<col class="stat-elem">
				<col class="stat-elem">
				<thead>
					<tr><th>Synergy Class</th><th>Bonus</th><th>Spent</th><th>Remaining</th></tr>
				</thead>
				<tbody>
					<% @character.synergies.each do |synergy_name, synergy| %>
						<tr>
							<%= content_tag(:td, synergy_name, class: synergy[:css_class]) %>
							<td><%= "+#{synergy[:level]}" unless synergy_name == 'No Class' %></td>
							<td><%= synergy[:spent] %></td>
							<td><%= synergy[:remaining] %><%= " Total" if synergy_name == 'No Class' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% unless @character.race == 'Wolf' and @character.items.empty? %>

<!-- ########### Item Buttons ########### !-->

	<div class="dont-print modify">
		<%= link_to page('Items'), '/rules#tab-items', class: 'btn btn-primary disable-button' %>
		<a class='btn btn-warning disable-button' data-toggle='modal' href='#itemModal'><i class='icon-wrench icon-white'></i> Change Items</a>
	</div>
	<p/>

<!-- ########### Item Table ########### !-->
	<% unless @character.items.empty? %>
		<table class='table table-bordered table-condensed item-table'>
			<col class="name-col"/>
			<col class="small-col"/>
			<col class="mid-col"/>
			<col class="mid-col"/>
			<col class="small-col"/>
			<col class="small-col"/>
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Bonus</th>
					<th>Class</th>
					<th>Damage</th>
					<th>Range</th>
					<th>DR</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<% [@character.primary, @character.off_hand, @character.armour].compact.each do |item| %>
					<tr>
						<td><%= item.name %></td>
						<td class="center"><%= "+#{item.bonus}" if item.bonus %></td>
						<td><%= item.weapon_class %></td>
						<td><%= item.damage %></td>
						<td class="center"><%= "+#{item.range}" if item.range %></td>
						<td class="center"><%= item.dr %></td>
						<td><%= item.quick %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>

<!-- ########### Skills Buttons ########### !-->

<%= form_for(@character, url: { action: :skills }) do |f| %>

<div class="dont-print modify">
	<%= link_to page('Skills'), '/rules#tab-skills', class: "btn btn-primary disable-button" %>
	<a class="btn btn-success disable-button" data-toggle="modal" href='#addModal'><%= add('Skills') %></a>
	<% if @character.skills.count == 4 # only base skills %>
		<a class='btn btn-danger' disabled='true'><%= remove('Skills') %></a>
	<% else %>
		<a class="btn btn-danger disable-button" data-toggle="modal" href='#removeModal'><%= remove('Skills') %></a>
	<% end %>
	<a class="btn btn-warning skill-level" onClick="show_skill_levels()"><%= change('Skill Levels') %></a>
	<div class="skill-level-select span2">
		<%= f.submit save_changes, class: "btn btn-large btn-warning span2" %>
	</div>
</div>
<p/>


<!-- ########### Skills Table ########### !-->

<table class='table table-bordered table-condensed skill-table item-table'>
	<col class="name-col"/>
	<col class="level-col dont-print"/>
	<col class="small-col dont-print"/>
	<col class="small-col"/>
	<col class="small-col"/>
	<col class="small-col"/>
	<thead>
		<tr>
			<th>Skill Name</th>
			<th class='dont-print'>Level</th>
			<th class='dont-print'>Cost</th>
			<th>Mana</th>
			<th>Power</th>
			<th>Dur.</th>
			<th>Effect</th>
		</tr>
	</thead>
	<tbody>
		<% @character.skills.sort_by{ |skill| skill.name }.each do |skill| %>
			<tr>
				<%= content_tag :td, class: skill.synergy_css('name-'), rowspan: skill.effects.count do %>
					<%= content_tag :span, skill.full_name, rel: 'popover', 'data-content' => popover_content(skill), 'data-original-title' => popover_title(skill), class: 'skill-popover' %>
					<%= skill.icons.collect { |src| tag(:img, src: src, class: 'skill-icons right') }.join.html_safe %>
				<% end %>
				<%= content_tag :td, class: 'center dont-print', rowspan: skill.effects.count do %>
					<span class="skill-level"><%= skill.level %></span>
					<span class="skill-level-select">
						<%= select_tag skill.name_tag('level'), options_for_select(skill.min_level..20, skill.level), class: "skill-level-option", onChange: "update_required('#{skill.name}'); recalculate_xp();" %>
					</span>
				<% end %>
				<%= content_tag :td, skill.cost, class: 'center dont-print', rowspan: skill.effects.count %>
				<% unless skill.effects.empty? %>
					<% skill.effects.each_with_index do |effect, index| %>
						<%= tag(:tr, nil, true) unless index.zero? %>
							<td class="mp center"><%= effect[:mana] %></td>
							<td class="power center"><%= @character.power(skill, effect) %></td>
							<td class="power center"><%= @character.duration(skill, effect) %></td>
							<td><%= parse_text_xml(effect[:quick], type: :quick).html_safe %></td>
						</tr>
					<% end %>
				<% else %>
			</tr>
				<% end %>
		<% end %>
	</tbody>
</table>

<% end %> <!-- end submit form !-->


<!-- ########### Abilities Buttons ########### !-->

<div class="dont-print modify">
	<%= link_to page('Abilities'), '/rules#tab-abilities', class: "btn btn-primary disable-button" %>
	<a class="btn btn-success disable-button" data-toggle="modal" href='#addAbilityModal'><%= add 'Abilities' %></a>
	<% if @character.abilities.empty? %>
		<a class='btn btn-danger' disabled='true'><%= remove('Abilities') %></a>
	<% else %>
		<a class="btn btn-danger disable-button" data-toggle="modal" href='#removeAbilityModal'><%= remove 'Abilities' %></a>
	<% end %>
</div>
<p/>

<!-- ########### Abilities Table ########### !-->

<table class='table table-striped table-bordered table-condensed'>
	<col class='name-col'/>
	<thead>
		<tr>
			<th>Ability Name</th>
			<th>Effect</th>
		</tr>
	</thead>
	<tbody>
		<% @character.abilities.sort_by{ |ability| ability.name }.each do |ability| %>
			<tr>
				<%= content_tag :td, class: ability.synergy_css('name-') do %>
					<%= content_tag :span, ability.name, rel: 'popover', 'data-content' => parse_text_xml(ability.text), 'data-original-title' => ability.name, class: 'skill-popover' %>
				<% end %>
				<td><%= parse_text_xml(ability.quick, type: :quick) %></td>
			</tr>
		<% end %>
	</tbody>
</table>

