<% provide(:title, @character.name) %>

<script type="text/javascript">
	skill_costs = {
		<% ApplicationHelper::Skill.all.each do |skill| %>
			<%= "\"#{skill.name}\": #{skill.cost},".html_safe %>
		<% end %>
	};
	skill_requires = {
		<% ApplicationHelper::Skill.all.each do |skill| %>
			<%= "\"#{skill.name}\": \"#{skill.requires.name}\",".html_safe if skill.requires && skill.requires.class != String%>
		<% end %>
	};
</script>

<!-- Custom Forms !-->
<%= render 'characters/name_modal' %>
<%= render 'characters/stats_modal' %>
<%= render 'characters/item_modal' %>
<%= render 'characters/remove_modal' %>
<%= render 'characters/remove_ability_modal' %>
<%= render 'characters/add_modal' %>
<%= render 'characters/add_ability_modal' %>

<!-- Error and Warning Messages -->
<%= render 'shared/error_messages' %>

<div class="row">

	<!-- ########### Character Display ########### !-->

	<div class="span7">
		<div class="well center span5">
			<h1><%= @character.name %></h1>
			<h2>Player: <%= @character.player %></h2>
			<h2>Race: <%= @character.race %></h2>
			<p/>
			<div class="center">
				<a class="btn btn-small btn-primary disable-button dont-print" data-toggle="modal" href='#nameModal'>Modify</a>
				<%= link_to "Export", export_character_path(@character), class: "btn btn-small btn-primary dont-print" %>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<table class='table table-striped table-bordered table-condensed item-table'>
					<tbody>
						<tr><td>XP</td><td id="xp"><%= @character.xp %></td></tr>
						<tr class="hp"><td>HP Max</td><td><%= @character.hp_max %></td></tr>
						<tr class="hp"><td>HP Rate</td><td><%= rate @character.hp_rate %></td></tr>
						<tr class="mp"><td>MP Max</td><td><%= @character.mp_max %></td></tr>
						<tr class="mp"><td>MP Rate</td><td><%= rate @character.mp_rate %></td></tr>
					</tbody>
				</table>
			</div>
			<div class="span3">
				<table class='table table-striped table-bordered table-condensed item-table'>
					<tbody>
						<tr><td>Damage Reduction</td><td><%= @character.damage_reduction %></td></tr>
						<tr><td>Weapon Bonus</td><td>+<%= @character.weapon_bonus %></td></tr>
						<tr class="hp"><td>Regen Time</td><td><%= @character.hp_time %></td></tr>
						<tr class="mp"><td>Refresh Time</td><td><%= @character.mp_time %></td></tr>
						<tr><td>Spell XP</td><td><%= @character.xp :spell %></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="span5">

<!-- ########### Stat Table ########### !-->

		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table item-table'>
				<col class="stat-name"/>
				<col class="stat-elem"/>
				<col class="stat-elem"/>
				<col class="stat-elem"/>
				<thead>
					<tr>
						<th>
							<div class="">
								<% if @character.race != "Vampire" %>
									<a class="btn btn-mini btn-primary disable-button dont-print" data-toggle="modal" href='#statsModal'>Modify</a>
								<% end %>
							</div>
						</th>
						<th>Base</th><th>Mod</th><th>Final</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Strength<img src="/assets/str.png" class="small-right"/></td>
						<td><%= @character.str %></td>
						<td><%= @character.str_mod_s %></td>
						<td><%= @character.str_final %></td>
					</tr>
					<tr>
						<td>Dexterity<img src="/assets/dex.png" class="small-right"/></td>
						<td><%= @character.dex %></td>
						<td><%= @character.dex_mod_s %></td>
						<td><%= @character.dex_final %></td>
					</tr>
					<tr>
						<td>Intelligence<img src="/assets/int.png" class="small-right"/></td>
						<td><%= @character.int %></td>
						<td><%= @character.int_mod_s %></td>
						<td><%= @character.int_final %></td>
					</tr>
					<tr>
						<td>Faith<img src="/assets/fai.png" class="small-right"/></td>
						<td><%= @character.fai %></td>
						<td><%= @character.fai_mod_s %></td>
						<td><%= @character.fai_final %></td>
					</tr>
				</tbody>
			</table>
		</div>

<!-- ########### Synergy Table ########### !-->

		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table item-table'>
				<col class="stat-name">
				<col class="stat-elem">
				<col class="stat-elem">
				<col class="stat-elem">
				<thead>
					<tr><th>Synergy Class</th><th>Bonus</th><th>Spent</th><th>Remaining</th></tr>
				</thead>
				<tbody>
					<% @character.synergies.each do |synergy_name, synergy| %>
						<tr>
							<td class=<%= ApplicationHelper::Synergy.css_class synergy_name %>><%= synergy_name %></td>
							<td><%= "+#{synergy[:level]}" unless synergy_name == 'No Class' %></td>
							<td><%= synergy[:spent] %></td>
							<td><%= synergy[:remaining] %><%= " Total" if synergy_name == 'No Class' %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<% unless @character.race == 'Wolf' %>

<!-- ########### Item Buttons ########### !-->

	<div class="row dont-print">
		<%= link_to 'Items Page', '/rules#tab-items', class: 'btn btn-primary btn-large span2 disable-button' %>
		<a class='btn btn-large btn-warning span2 disable-button' data-toggle='modal' href='#itemModal'>Change Items</a>
	</div>
	<p/>

<!-- ########### Item Table ########### !-->
	<% if @character.items.count.nonzero? %>
		<table class='table table-bordered table-condensed item-table'>
			<col class="name-col"/>
			<col class="small-col"/>
			<col class="mid-col"/>
			<col class="mid-col"/>
			<col class="small-col"/>
			<col class="small-col"/>
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Bonus</th>
					<th>Class</th>
					<th>Damage</th>
					<th>Range</th>
					<th>DR</th>
					<th>Effect</th>
				</tr>
			</thead>
			<tbody>
				<% [@character.primary, @character.off_hand, @character.armour].compact.each do |item| %>
					<tr>
						<td><%= item[:name] %></td>
						<td class="center"><%= "+#{item[:bonus]}" if item[:bonus] %></td>
						<td><%= item[:type].to_s.capitalize if item[:type] %></td>
						<td><%= item[:damage].to_s.capitalize if item[:damage] %></td>
						<td class="center"><%= "+#{item[:range]}" if item[:range] %></td>
						<td class="center"><%= item[:effect][:dr] if item[:effect] %></td>
						<td><%= item[:quick] %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
<% end %>

<!-- ########### Skills Buttons ########### !-->

<%= form_for(@character, url: { action: :update, skill_level: true }) do |f| %>

<div class="row dont-print">
	<%= link_to "Skills Page", '/rules#tab-skills', class: "btn btn-primary btn-large span2 disable-button" %>
	<a class="btn btn-large btn-success span2 disable-button" data-toggle="modal" href='#addModal'>Add Skills</a>
	<a class="btn btn-large btn-danger span2 disable-button" data-toggle="modal" href='#removeModal'>Remove Skills</a>
	<a class="btn btn-large btn-warning span2 skill-level" onClick="show_skill_levels()">Change Skill Levels</a>
	<div class="skill-level-select span2">
		<%= f.submit "Save Changes", class: "btn btn-large btn-warning span2" %>
	</div>
</div>
<p/>


<!-- ########### Skills Table ########### !-->

<table class='table table-bordered table-condensed skill-table item-table'>
	<col class="name-col"/>
	<col class="level-col dont-print"/>
	<col class="small-col dont-print"/>
	<col class="small-col"/>
	<col class="small-col"/>
	<col class="small-col"/>
	<thead>
		<tr>
			<th>Skill Name</th>
			<th class='dont-print'>Level</th>
			<th class='dont-print'>Cost</th>
			<th>Mana</th>
			<th>Power</th>
			<th>Dur.</th>
			<th>Effect</th>
		</tr>
	</thead>
	<tbody>
		<% @character.skills.sort.map.each do |skill_name, level| %>
			<% skill = ApplicationHelper::Skill.find_by_name(skill_name) %>
			<tr>
				<td rowspan=<%= skill.effects.count.to_s %> class=<%= skill.synergy_css('name-') %>>
					<%= skill.name %>
					<span style="float:right"><%= skill.icons %></span>
				</td>
				<td rowspan=<%= skill.effects.count.to_s %> class='center dont-print'>
					<span class="skill-level"><%= level %></span>
					<span class="skill-level-select">
						<%= select_tag :"level_#{skill_name.sub(' ','_')}", options_for_select(@character.min_skill_level(skill_name) .. 20, level), class:"skill-level-option", onChange: "update_required('#{skill.name}'); recalculate_xp();" %>
					</span>
				</td>
				<td rowspan="<%= skill.effects.count %>" class="center dont-print"><%= skill.cost %></td>
				<% unless skill.effects.empty? %>
					<% skill.effects.each_with_index do |effect, index| %>
						<%= "<tr>".html_safe unless index.zero? %>
							<td class="mp center"><%= effect.mana %></td>
							<td class="power center"><%= @character.power(skill, effect) %></td>
							<td class="power center"><%= @character.duration(skill, effect) %></td>
							<td><%= effect.quick %></td>
						</tr>
					<% end %>
				<% else %>
			</tr>
				<% end %>
		<% end %>
	</tbody>
</table>

<% end %> <!-- end submit form !-->


<!-- ########### Abilities Buttons ########### !-->

<div class="row dont-print">
	<%= link_to "Abilities Page", '/rules#tab-abilities', class: "btn btn-primary btn-large span2 disable-button" %>
	<a class="btn btn-large btn-success span2 disable-button" data-toggle="modal" href='#addAbilityModal'>Add Abilities</a>
	<a class="btn btn-large btn-danger span2 disable-button" data-toggle="modal" href='#removeAbilityModal'>Remove Abilities</a>
</div>
<p/>

<!-- ########### Abilities Table ########### !-->

<table class='table table-striped table-bordered table-condensed'>
	<col class='name-col'/>
	<thead>
		<tr>
			<th>Ability Name</th>
			<th>Effect</th>
		</tr>
	</thead>
	<tbody>
		<% @character.abilities.each do |ability_name| %>
		<% ability = ApplicationHelper::Ability.find_by_name(ability_name) %>
			<tr>
				<td class=<%= ability.synergy_css("name-") %>><%= ability.name %></td>
				<td><%= ability.quick %></td>
			</tr>
		<% end %>
	</tbody>
</table>

