<% provide(:title, @character.name) %>

<div class="row">
	<%= render 'shared/error_messages' %>
	<div class="span4 hero-unit center">
		<h1><%= @character.name %></h1>
		<h2>Player: <%= @character.player %></h2>
		<h2>Race: <%= @character.race %></h2>
		<h3>XP: 0</h3>
		<p/>
		<div class="center">
			<%= render 'characters/name_modal' %>
			<a class="btn btn-small btn-primary" data-toggle="modal" href='#nameModal'>Modify</a>
		</div>
	</div>
	<div class="span5 offset1">
		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table'>
				<col class="stat-name">
				<col class="stat-elem">
				<col class="stat-elem">
				<col class="stat-elem">
				<thead>
					<tr>
						<th>
							<div class="">
								<%= render 'characters/stats_modal' %>
								<% if @character.race != "Vampire" %>
									<a class="btn btn-mini btn-primary" data-toggle="modal" href='#statsModal'>Modify</a>
								<% end %>
							</div>
						</th>
						<th>Raw</th><th>Mod</th><th>Final</th>
					</tr>
				</thead>
				<tbody>
					<tr><td><%= str %></td><td><%= @character.str %></td><td/><td/></tr>
					<tr><td><%= dex %></td><td><%= @character.dex %></td><td/><td/></tr>
					<tr><td><%= int %></td><td><%= @character.int %></td><td/><td/></tr>
					<tr><td><%= fai %></td><td><%= @character.fai %></td><td/><td/></tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<table class='table table-striped table-bordered table-condensed stat-table'>
				<col class="stat-name">
				<col class="stat-elem">
				<col class="stat-elem">
				<col class="stat-elem">
				<thead>
					<tr><th>Synergy Class</th><th>Bonus</th><th>Spent</th><th>Total</th></tr>
				</thead>
				<tbody>
					<tr><td>No Class</td><td/><td>0</td><td>2</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<table class='table table-striped table-bordered table-condensed'>
		<thead>
			<tr>
				<th>Skill Name</th>
				<th>Level</th>
				<th>Stat</th>
				<th>Mana</th>
				<th>Power</th>
				<th>Dur.</th>
				<th>Effect</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Divine Arrow</td>
				<td>11</td>
				<td>Fai</td>
				<td>2</td>
				<td>11d10</td>
				<td/>
				<td>A: Attack for X.</td>
			</tr>
			<tr><td>...</td><td/><td/><td/><td/><td/><td/></tr>
		</tbody>
	</table>
</div>

<div class="row">
	<table class='table table-striped table-bordered table-condensed'>
		<thead>
			<tr>
				<th>Ability Name</th>
				<th>Synergy</th>
				<th>Effect</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Reason</td>
				<td>Rogue</td>
				<td>Rational argument with <%= check('Observation','int') %></td>
			</tr>
			<tr><td>...</td><td/><td/></tr>
		</tbody>
	</table>
</div>


