<% provide(:title, "Campaigns") %>

<div class="hero-unit">
	<h1>Campaign List</h1>
	<div class="center">
		<%= link_to "Create Campaign", new_campaign_path, class: 'btn btn-large btn-primary' if signed_in? %>
	</div>
</div>

<% unless @user_campaigns.nil? or @user_campaigns.empty? %>
	<h1>Your Campaigns</h1>

	<%= render @user_campaigns %>
	<div class="clear"></div>
	<%= will_paginate @user_campaigns, param_name: 'user_page' %>
<% end %>

<% unless @open_campaigns.empty? %>
	<h1>Open Campaigns</h1>

	<%= render @open_campaigns %>
	<div class='clear'></div>
	<%= will_paginate @open_campaigns, param_name: 'other_campaigns' %>
<% end %>
