<header class="navbar navbar-fixed-top dont-print">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home", root_path %></li>
					<li class="dropdown">
						<a href='#' class="dropdown-toggle" data-toggle="dropdown">
							Character Builder<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "All Characters", characters_path %></li>
							<li><%= link_to "New Character", new_character_path %></li>
							<% unless session[:character].nil? %>
								<li class="divider"/>
								<li><%= link_to "Character: #{Character.find(session[:character]).name}", character_path(session[:character]) %></li>
							<% end %>
						</ul>
					</li>
					<li><%= link_to "Rules", rules_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
