<header class="navbar navbar-fixed-top dont-print">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li><%= link_to "Setting", setting_path %></li>
					<li><%= link_to "Rules", rules_path %></li>
				</ul>
				<ul class="nav pull-right">
					<% if signed_in? %>
						<li class="dropdown">
							<a href='#' class='dropdown-toggle' data-toggle='dropdown'>
								Campaigns<b class='caret'></b>
							</a>
							<ul class='dropdown-menu'>
								<li><%= link_to "All Campaigns", campaigns_path %></li>
								<li><%= link_to "New Campaign", new_campaign_path %></li>
								<% unless current_user.active_campaigns.empty? %>
									<li class='divider'/>
									<% current_user.active_campaigns.each do |campaign| %>
										<li><%= link_to campaign.name, campaign %></li>
									<% end %>
								<% end %>
							</ul>
						</li>
						<li class="dropdown">
							<a href='#' class="dropdown-toggle" data-toggle="dropdown">
								Characters<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to "All Characters", characters_path %></li>
								<li><%= link_to "New Character", new_character_path %></li>
								<% unless current_user.active_characters.empty? %>
									<li class="divider"/>
									<% current_user.active_characters.each do |character| %>
										<li><%= link_to character.name, character %></li>
									<% end %>
								<% end %>
							</ul>
						</li>
						<li class="dropdown">
							<a href='#' class="dropdown-toggle" data-toggle="dropdown">
								Account<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><%= link_to 'All Users', users_path %></li>
								<li><%= link_to 'My Profile', current_user %></li>
								<li><%= link_to 'Edit Profile', edit_user_path(current_user) %></li>
								<li class="divider"/>
								<li><%= link_to "Sign Out", signout_path, method: 'delete' %></li>
							</ul>
						</li>
					<% else %>
						<li><%= link_to "Campaigns", campaigns_path %></li>
						<li><%= link_to "Characters", characters_path %></li>
						<li><%= link_to "Sign In", signin_path %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</div>
</header>
